:root {
    --pst-color-link-hover: #a883f7 !important;
    --pst-color-secondary:  #eb4c77 !important;
}

p {
    text-align: justify;
}

div.cell div.cell_input {
    border-left-color: #a883f7 !important;
}

img[src$=".png"] {
    background-color: transparent !important;
}