p {
    text-align: justify;
}

div.cell div.cell_input {
    border-left-color: #a883f7 !important;
}

/* Light theme */
html[data-theme="light"] img[src$=".png"] {
    background-color: transparent !important;
}

/* Dark theme */
html[data-theme="dark"] img[src$=".png"] {
    background-color: transparent !important;
}