p {
    text-align: justify;
}

/* Light theme */
html[data-theme="light"] img[src$=".png"] {
    background-color: transparent !important;
}

/* Dark theme */
html[data-theme="dark"] img[src$=".png"] {
    background-color: transparent !important;
}